<ul class="space-y-1 overflow-y-auto">
    <li *ngFor="let project of projects">
        <div (click)="setActiveProject(project)"
            class="cursor-pointer flex items-center space-x-3 px-3 py-2 text-sm font-medium rounded-sm transition-colors"
            [class.bg-black]="project.id === selectedProjectId" [class.text-white]="project.id === selectedProjectId"
            [class.text-gray-700]="project.id !== selectedProjectId" [class.hover\:bg-gray-100]="true">
            <div class="w-5 h-5 flex items-center justify-center bg-white border border-gray-100 rounded-md">
                <img [src]="project.logoUrl" class="w-5 h-5 rounded object-cover" />

            </div>
            <span class="text-[14px] line-clamp-1 ">{{ project.name }}</span>
        </div>
    </li>
</ul>