<div class="   bg-white dark:bg-[#121212] ">
    <div class="border-b mx-2 py-2 border-gray-200 dark:border-[#222222]  flex flex-col items-center justify-center">
        <div
            class="w-12 h-12 border bg-[#0b0622dd] dark:bg-[#0a0b629c] text-white dark:text-blue-300 border-gray-200 px-2 rounded-full flex items-center justify-center">
            <i class='bx rotate-90 bxl-meta text-2xl'></i>
        </div>
        <div class="flex flex-col items-center justify-center mt-2">
            <p class="text-[15px] text-black dark:text-gray-200">TechPulse Company</p>
            <p class="text-[12px] text-black dark:text-gray-400">32 mernber</p>
        </div>
        <p class="text-[12px] text-black dark:text-white mt-2 px-2">
            Company Team Chat: Working together. sharing
            ideas and communicating effectively!
        </p>
        <div class="flex w-full px-2 mt-2 items-center justify-between">
            <p class="text-blue-500 font-thin text-[13px]">{{'@techpulsecom'}}</p>
            <i class='bx bx-link-alt text-blue-500 font-thin text-[15px]'></i>
        </div>
    </div>
    <div class="flex flex-col mt-2 mx-2 px-2">
        <div class="flex w-full items-center justify-between">
            <p class="text-black dark:text-white font-thin text-[13px]">{{'Members'}}</p>
            <p class="text-blue-500 text-sm font-thin">See all</p>
        </div>
        <div class="flex mt-2 -space-x-2">
            <img class="inline-block size-11 rounded-full ring-2 ring-white dark:ring-neutral-900"
                src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80"
                alt="Avatar">
            <img class="inline-block size-11 rounded-full ring-2 ring-white dark:ring-neutral-900"
                src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80"
                alt="Avatar">
            <img class="inline-block size-11 rounded-full ring-2 ring-white dark:ring-neutral-900"
                src="https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80"
                alt="Avatar">
            <img class="inline-block size-11 rounded-full ring-2 ring-white dark:ring-neutral-900"
                src="https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80"
                alt="Avatar">
            <img class="inline-block size-11 rounded-full ring-2 ring-white dark:ring-neutral-900"
                src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80"
                alt="Avatar">

            <div class="hs-dropdown [--placement:top-left] relative inline-flex">
                <button id="hs-avatar-group-dropdown"
                    class="hs-dropdown-toggle inline-flex items-center justify-center size-11 rounded-full bg-gray-100 border-2 border-white font-medium text-gray-700 shadow-2xs align-middle hover:bg-gray-200 focus:outline-hidden focus:bg-gray-300 text-sm dark:bg-neutral-700 dark:text-white dark:hover:bg-neutral-600 dark:focus:bg-neutral-600 dark:border-neutral-800"
                    aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                    <span class="font-medium">42+</span>
                </button>

            </div>
        </div>
    </div>

    <div class="flex mt-4 flex-col">
        <div class="flex px-4  w-full items-center justify-between">
            <p class="text-black dark:text-white font-thin text-[12px]">{{'Photos and videos'}}</p>
            <p class="text-blue-500 text-sm font-thin">See all</p>
        </div>
        <!-- Image Grid -->
        <div class="grid grid-cols-2 mt-2 sm:grid-cols-2 px-4 gap-2">


            <a class="group block relative overflow-hidden rounded-lg" href="#">
                <img class="w-full size-20 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
                    src="https://images.unsplash.com/photo-1616427592793-67b858804534?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Project">
                <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
                    <div
                        class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
                        <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8" />
                            <path d="m21 21-4.3-4.3" />
                        </svg>
                        <span class="text-xs">View</span>
                    </div>
                </div>
            </a>

            <a class="group block relative overflow-hidden rounded-lg" href="#">
                <img class="w-full size-20 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
                    src="https://images.unsplash.com/photo-1516131206008-dd041a9764fd?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Project">
                <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
                    <div
                        class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
                        <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8" />
                            <path d="m21 21-4.3-4.3" />
                        </svg>
                        <span class="text-xs">View</span>
                    </div>
                </div>
            </a>

            <a class="group block relative overflow-hidden rounded-lg" href="#">
                <img class="w-full size-20 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
                    src="https://images.unsplash.com/photo-1707760696486-2a2cd7e0b6a6?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Project">
                <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
                    <div
                        class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
                        <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8" />
                            <path d="m21 21-4.3-4.3" />
                        </svg>
                        <span class="text-xs">View</span>
                    </div>
                </div>
            </a>

            <a class="group block relative overflow-hidden rounded-lg" href="#">
                <img class="w-full size-20 object-cover bg-gray-100 rounded-lg dark:bg-neutral-800"
                    src="https://images.unsplash.com/photo-1585159812596-fac104f2f069?q=80&w=320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Project">
                <div class="absolute bottom-1 end-1 opacity-0 group-hover:opacity-100 transition">
                    <div
                        class="flex items-center gap-x-1 py-1 px-2 bg-white border border-gray-200 text-gray-800 rounded-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200">
                        <svg class="shrink-0 size-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8" />
                            <path d="m21 21-4.3-4.3" />
                        </svg>
                        <span class="text-xs">View</span>
                    </div>
                </div>
            </a>


        </div>
        <!-- End Image Grid -->
    </div>


</div>