<section class="mx-auto flex  relative overflow-y-auto bg-[#ffffff] dark:bg-[#121212]">
    <app-sidebar-chat></app-sidebar-chat>
    <div class="  hidden md:grid w-full  grid-cols-8 bg-[#ffffff] dark:bg-[#121212]    ps-[310px]  py-2   ">
        <div class="hidden md:block col-span-full xl:col-span-6">
            <app-chat-message></app-chat-message>
        </div>
        <div class="hidden xl:block col-span-2">
            <app-chat-media></app-chat-media>

        </div>
    </div>
</section>