<div class="relative" #dropdownContainer>
    <button (click)="toggleDropdown()"
        class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        <i class="bx bx-filter-alt mr-2"></i>
        Filter
        <!-- Dropdown arrow -->
        <svg class="ml-2 h-3 w-3 transition-transform duration-200" [class.rotate-180]="isDropdownOpen" fill="none"
            stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
    </button>

    <app-filter-section  (filtersApplied)="onFiltersApplied($event)" [class]="isDropdownOpen ? 'block' : 'hidden'"></app-filter-section>

</div>