/* Layout Container */
.spotify-layout {
  display: flex;
  height: 100vh;
  padding-top: 64px;
}

/* Sidebar Styles */
.spotify-sidebar {
  background-color: #121212;
  padding: 24px 0;
  position: fixed;
  width: 330px;
  left: 3px;
  border-radius: 8px;
  top: 64px;
  height: calc(100vh - 64px);
  overflow-y: auto;
  border-right: 1px solid #282828;
  ;
}