.kanban-column.drag-over {
    /* transform: scale(1.02); */
    border: 1px dashed #7a62ff;
    background-color: rgba(147, 197, 253, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

* {
    overflow: hidden;
}