<div class="p-4 bg-gray-50 min-h-screen">
    <div class="bg-[#f8f8f8] px-2 ">
        <div class="flex justify-between items-center cursor-pointer  p-4 rounded-t-md">
            <div class="flex items-center gap-2 w-[50%] ">
                <i  (click)="isOpen = !isOpen" class="" [ngClass]="isOpen ? 'bx bx-chevron-up' : 'bx bx-chevron-down'"></i>
                <h2 class="font-semibold text-[15px]">Backlog</h2>
                <p class="text-gray-700 text-[14px]" >(0 work items)</p>
            </div>
            <div class="flex items-end justify-end gap-4 w-[50%]">
                <div class="flex items-center gap-2">
                    <div class="flex items-center gap-2">
                        <span class="bg-[#dddee1] px-2 rounded-sm text-sm">0</span>
                        <span class="bg-[#8fb8f6] px-2 rounded-sm text-sm">0</span>
                        <span class="bg-[#efffd6] px-2 rounded-sm text-sm">0</span>
                    </div>
                    <button class="px-4 text-sm py-1.5 border border-gray-200 hover:bg-gray-50 active:bg-gray-100 transition-colors duration-200 text-black rounded-md flex items-center gap-2">
                        <i class='bx bx-plus'></i>
                        <span>Create Sprint</span>
                    </button>
                </div>


                <button class="p-1 hover:bg-gray-100 rounded">
                    <i class='bx bx-dots-horizontal-rounded'></i>
                </button>
            </div>

        </div>

        <!-- Accordion Content -->
        <div *ngIf="isOpen" class=" text-gray-900 py-10 px-4 rounded-b-md border-2 border-stone-300 border-dashed ">
            <div class="flex items-center justify-center gap-6">
                <img class="w-24 h-24"
                    src="https://jira-frontend-bifrost.prod-east.frontend.public.atl-paas.net/assets/design.e096ff32.svg"
                    alt="">
                <div class="flex flex-col text-[15px] max-w-[500px]">
                    <p class="font-semibold">Plan your sprint</p>
                    <p>Drag work items from the <span class="font-semibold">Backlog</span> section or create new ones to
                        plan the
                        work for this sprint. Select <span class="font-semibold">Start sprint</span> when you're ready.
                    </p>
                </div>
            </div>

        </div>
        <div
            class="px-4 py-2 flex items-center font-semibold gap-1 transition-all duration-100 cursor-pointer hover:bg-gray-100">
            <i class='bx bx-plus text-xl  '></i>
            <p class="text-[14px] text-teal-800">Create</p>
        </div>
        <div class="relative w-full">
            <input type="text" placeholder="Search backlog"
                class="pl-40 text-sm pr-4 py-1.5 rounded border border-gray-300 w-full focus:outline-none ring-2 ring-blue-500 border-transparent focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <div class="absolute left-1 top-1/2 -translate-y-1/2">
                <div class="relative">
                    <button (click)="toggleDropdown()"
                        class="flex items-center gap-2 px-4 py-1 text-sm text-gray-700 hover:bg-gray-100 rounded-md transition-all duration-200">
                        <i class="bx bx-filter"></i>
                        <span>Filter</span>
                        <i class="bx" [ngClass]="isDropdownOpen ? 'bx-chevron-up' : 'bx-chevron-down'"></i>
                    </button>
                    <div *ngIf="isDropdownOpen"
                        class="absolute top-full left-0 mt-1 w-48 bg-white rounded-md shadow-lg py-1 z-50">
                        <ng-container *ngFor="let item of items">
                            <div class="relative group">
                                <button (click)="toggleSubMenu(item)"
                                    class="w-full flex items-center gap-2 px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-all duration-200">
                                    <i *ngIf="item.icon" class="bx" [ngClass]="item.icon"></i>
                                    <span>{{ item.label }}</span>
                                </button>
                                <!-- <div *ngIf="item.items && item.isOpen"
                                    class="absolute left-full top-0 w-48 bg-white rounded-md shadow-lg py-1">
                                    <button *ngFor="let subItem of item.items"
                                        class="w-full flex items-center gap-2 px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-all duration-200">
                                        <i *ngIf="subItem.icon" class="bx" [ngClass]="subItem.icon"></i>
                                        <span>{{ subItem.label }}</span>
                                    </button>
                                </div> -->
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>