<div class="bg-[#ffffff] relative">
    <div
        class=" bg-[#ffffff] translate-x-full left-3 top-[49px]  shadow-sm transition-all duration-300 transform w-[240px] h-full hidden md:fixed inset-y-0 start-0 z-0  border-x border-gray-200 lg:block lg:translate-x-0 lg:end-auto lg:bottom-0">
        <ul class="py-4 flex flex-col gap-2.5 text-[14.2px] px-5 font-medium  text-[#474850] ">
            <li class=" flex items-center space-x-2  ">
                <i class=' bx bx-user-circle'></i>
                <p>For you</p>
            </li>
            <li class=" flex items-center space-x-2  ">
                <i class='bx bx-time-five'></i>
                <p>Recent</p>
            </li>
            <li class=" flex items-center space-x-2  ">
                <i class='bx bx-star'></i>
                <p>Starred</p>
            </li>
            <li class=" flex items-center space-x-2  ">
                <i class='bx bx-customize'></i>
                <p>Apps</p>
            </li>
            <li class=" flex items-center space-x-2  ">
                <i class='bx bx-directions'></i>
                <p>Plans</p>
            </li>
            <li class=" flex items-center space-x-2  ">
                <i class='bx bx-trim'></i>
                <p>Projects</p>
            </li>
            <li class=" flex items-center space-x-2  ">
                <i class='bx bx-filter'></i>
                <p>Filter</p>
            </li>
            <li class=" flex items-center space-x-2  ">
                <i class='bx bx-layout'></i>
                <p>Dashboards</p>
            </li>
            <li class=" flex items-center space-x-2  ">
                <i class='bx bx-group'></i>
                <p>Teams</p>
            </li>
        </ul>

    </div>

</div>
<div class="flex items-end justify-end gap-2  fixed left-0 bottom-0  px-3 py-4 border-t border-gray-200    ">
    <button class="px-10 text-[14px] text-[#505258] py-1 flex items-center justify-center rounded-sm shadow-sm  
    border border-gray-300
    " >Invite people</button>
    <div class="py-1 px-1 border text-[#505258] rounded-sm shadow-sm bg-white flex items-center justify-center  border-gray-200">
        <i class='bx bx-broadcast'></i>
    </div>
</div>