<div>
    <h1 class="text-2xl font-semibold text-gray-900">Project Members</h1>
    <p class="text-sm text-gray-600 mt-1">Manage team members and their permissions</p>
</div>
<div class="flex border-t border-gray-100 items-center justify-between mt-4">
    <div class="flex gap-4 items-center">
        <img class="w-10 mt-2 h-10 border-2 border-white rounded-full dark:border-gray-800"
            src="https://randomuser.me/api/portraits/men/32.jpg" alt="Team member 1">
        <div class="flex flex-col ">
            <p class="text-sm text-gray-600 mt-1">Emmanuel Umeh</p>
            <p class="text-xs text-gray-500">tllatebus.nesspro.gmail.com</p>
        </div>
    </div>
    <div class="dropdown">
        <div tabindex="0" role="button" class="border px-4 py-1.5 text-sm rounded-md  m-3">Owner</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
        </ul>
    </div>

</div>