<div class="fixed bottom-0 end-0 flex-col py-8 gap-2 px-8 flex items-center justify-center z-[100]">
  <div *ngFor="let messageItem of messageQueue()" [@toastAnimation] class="z-[80]">
    <!-- Toast -->
    <div [ngClass]="{'bg-stone-50/100':messageItem.type=='success', 'bg-red-50/80':messageItem.type=='error'}"
      class="max-w-xs border border-gray-200/30 backdrop-blur-sm rounded-xl drop-shadow-[0_20px_35px_rgba(0,0,0,0.15)]"
      role="alert" tabindex="-1" aria-labelledby="hs-toast-stack-toggle-update-label">
      <div class="flex p-1">
        <div class="">
          <p id="hs-toast-stack-toggle-update-label" class="text-sm text-gray-700">
            <!-- Toast -->
          <div class="max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg" role="alert" tabindex="-1"
            aria-labelledby="hs-toast-with-icons-label">
            <div class="flex p-4">
              <div class="shrink-0">
                <ng-container [ngSwitch]="messageItem.type">
                  <svg *ngSwitchCase="'success'" class="shrink-0 size-5 text-teal-500 mt-0.5"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                  </svg>

                  <!-- Error Icon -->
                  <svg *ngSwitchCase="'error'" class="shrink-0 size-5 text-red-500 mt-0.5"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="8" x2="12" y2="12"></line>
                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                  </svg>
                </ng-container>
              </div>
              <div class="ms-4">
                <h3 *ngIf="messageItem.type=='success'" id="hs-toast-with-icons-label"
                  class="text-gray-800 text-sm font-semibold">
                  The operation completed successfully
                </h3>
                <h3 *ngIf="messageItem.type=='error'" id="hs-toast-with-icons-label"
                  class="text-gray-800 text-sm font-semibold">
                  Something went wrong on our end
                </h3>
                <div class="mt-1 text-[14px] text-gray-600">
                  {{messageItem.message}}
                </div>
                <!-- <div class="mt-4">
                  <div class="flex gap-x-3">
                    <button type="button"
                      class="text-blue-600 decoration-2 hover:underline font-medium text-sm focus:outline-hidden focus:underline">
                      Don't allow
                    </button>
                    <button type="button"
                      class="text-blue-600 decoration-2 hover:underline font-medium text-sm focus:outline-hidden focus:underline">
                      Allow
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Toast -->
  </div>
</div>